.navbar {
  margin-top: 0 !important;
  margin-top: -20px !important;
 
}

.nav-item {
  margin-top: 15px !important;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  /* Text color */
  padding: 8px;
  /* Padding for text */

}

.fa {
  padding: 20px;
  font-size: 20px;
  height: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}


.fa:hover {
  opacity: 0.7;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-whatsapp {
  background: #068b32;
  color: white;
}


.fa-instagram {
  color: rgb(141, 62, 75);
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-phone{
  color: blue;
  margin-top: -10px;
  padding:-20px;
  margin-bottom: -10px;
}

.fa-envelope{
  color: hsl(0, 100%, 37%);
  margin-top: -10px;
  padding-top: -20px;
  margin-bottom: -10px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  /* Adjust the overlay background color and opacity */
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
  /* Text color for the overlay content */
  text-align: top;
  opacity: 4;
}

.position-relative .overlay {
  opacity: 4;
}

@media(max-width:567px) {

  .addressCard {
    height: 20px;
    width: 15px;
  }
}

.cardBody img {
  margin-bottom: 20px;
}

@media(max-width:992px) {
  .cardBody .row {
    flex-direction: column;
  }

  .contactUs {
    justify-content: center;
    background-color: #c5eaf6;
  }

}

.mapBody {
  text-align: center;
  margin-bottom: 20pxn;
}
