.navbar {
  margin-top: 0 !important;
  margin-top: -20px !important;
 
}

.nav-item {
  margin-top: 15px !important;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  /* Text color */
  padding: 8px;
  /* Padding for text */

}

.how-section1 {
  margin-top: -15%;
  padding: 10%;
}

.how-section1 h4 {
  color: rgb(31, 120, 143);
  font-weight: bold;
  font-size: 30px;
}

.how-section1 .row {
  margin-top: 3%;
}

.how-img {
  text-align: center;
}

.how-img img {
  width: 50%;
}

.fa {
  padding: 20px;
  font-size: 20px;
  height: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}


.fa:hover {
  opacity: 0.7;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  color: rgb(141, 62, 75);
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-whatsapp {
  background: #068b32;
  color: white;
}

.fa-phone{
  color: blue;
  margin-top: -10px;
  padding:-20px;
  margin-bottom: -10px;
}

.fa-envelope{
  color: hsl(0, 100%, 37%);
  margin-top: -10px;
  padding-top: -20px;
  margin-bottom: -10px;
}

@media(max-width:996px) {}