.how-section1 {
  margin-top: -15%;
  padding: 10%;
}

.how-section1 h4 {
  color: rgb(31, 120, 143);
  font-weight: bold;
  font-size: 30px;
}

.how-section1 .row {
  margin-top: 3%;
}

.how-img {
  text-align: center;
}

.how-img img {
  width: 50%;
}
.img_des{
  visibility: hidden;
  opacity: 0;
}
.image-container:hover .img_hide{
  visibility: hidden;
  opacity: 0;
}

.image-container:hover .img_des{
  visibility: visible;
  opacity: 1;
}

.image-container img{
  opacity:50%;
}
.navbar {
  margin-top: 0 !important;
  margin-top: -20px !important;
 
}


.nav-item {
  margin-top: 15px !important;
  
}

.nav-item a {
  text-decoration: none;
  color: black;
}


.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  /* Text color */
  padding: 8px;
  /* Padding for text */

}

.custom-card {
  margin-top: -0.25rem !important;
}

:root {
  --bs-card-spacer-y: 0.25rem;
  /* Adjust the value as needed */
}

.card-title {
  padding-top: 0.25rem !important;
  color: rgb(31, 120, 143);
}

.fa {
  padding: 10px;
  font-size: 50px;
  height: 70px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 1px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  color: rgb(141, 62, 75);
}

.fa-whatsapp {
  background: #068b32;
  color: white;
 
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-phone{
  color: blue;
  margin-top: 0px;
  padding:-20px;
  margin-bottom: -40px;
}

.fa-envelope{
  color: hsl(0, 100%, 37%);
  margin-top: 0px;
  padding-top: -20px;
  margin-bottom: -30px;
}

h2 {
  font-family: Arial, Verdana;
  font-weight: 800;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
}

.accordion-section .panel-default>.panel-heading {
  border: 0;
  background: #f4f4f4ea;
  padding: 0;
}

.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
}

.accordion-section .panel-default .panel-title a:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: white;
  float: right;
  margin-top: -12px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}

.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}


.whyChooseUs {
  background-repeat: no-repeat;
}

.image-container {
  position: relative;
}

.image-overlay h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 22px;
}
.image-overlay p {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
}


.blur {
  opacity: 0.5;
}

.modal-dialog {
  max-width: max-content !important;
}

.modal-body {
  display: flex;
}

.modal-body img {
  object-fit: contain;
}

.client {
  width: 100%;
  height: 100%;
  background: #7ee7de;
  ;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #20afaf, #49c8d1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #20afaf, #49c8d1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carousel-icon i {
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.3);
}

.carousel-item i {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.3);
}

.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1.25rem;
  color: #fff;
  height: auto;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5rem solid transparent;
  border-right: 5rem solid transparent;
  border-top: 1.25rem solid rgba(0, 0, 0, 0.5);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  height: 300px;
  width: 100%;
  max-width: 2000px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}




.img-area {
  width: 200px;
  height: 200px;
  margin: 10%;
  border-radius: 50%;
  overflow: hidden;
  border: 10px ridge #101010;
  margin-left: 150px;
}

.review {
  font-size: 20px;
  font-weight: 600;
  padding: 30px 0;
  margin-left: 130px;
}

.person {
  font-size: 18px;
  color: #101010;
  margin: 0;
  margin-left: 130px;
}

.designation {
  color: #101010;
  font-size: 14px;
  margin-left: 130px;
}

.carousel-inner {
  max-width: 800px;
}

.carousel-indicators {
  bottom: -40px;
  right: 0;
  margin: 0;
}

.read_more {
  text-decoration: none;
  color: white;
}

.carousel-indicators [data-bs-target] {
  height: 15px;
  border: 2px solid #fff;
  width: 15px;
  background-color: inherit;
  border-radius: 50%;
}

.carousel-indicators .active {
  border: 2px solid transparent;
  background-color: #fff;
}

.left {
  color: #fff;
  font-weight: 900;
}

.right {
  color: #fff;
  font-weight: 900;
}

.carousel-control-next,
.carousel-control-prev {
  margin-top: 4000px;

}

@media (max-width:560px) {
  .img-area {
    margin: 5% auto 0;
  }

  .img-text {
    text-align: center;
  }

  .review {
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
  }

  .person {
    font-size: 13px;
  }

  .designation {
    font-size: 10px;
  }

  .right {
    font-size: 12px;
  }

  .left {
    font-size: 12px;
  }

  .carousel-indicators [data-bs-target] {
    height: 8px;
    border: 1px solid #fff;
    width: 8px;
    background-color: inherit;
    border-radius: 50%;
  }

  .carousel-indicators .active {
    border: 1px solid transparent;
    background-color: #fff;
  }
}

@media (max-width:1292px) {
  .bg-overlay {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width:877px) {
  

  .partnerWithUs {
    background-image: url('images\ourServicesBackground2.png');
    background-repeat: no-repeat;
    background-color: #c5eaf6;
  }
}



@media (max-width: 508px) {

  


  .partnerWithUs {
    background-repeat: no-repeat;
  }

  .mission {
    background-repeat: no-repeat;
  }
}

@media(max-width: 722px) {
  .bannerImage {
    margin-top: 50px;
  }
}



@media(max-width:879px) {
  .process {
    margin-top: -200px;
  }

  @media(max-width:870px) {
    .process {
      margin-top: -300px;
    }
  }
}


@media(max-width:762px){
  .process{
    margin-top:-50px;
  }
}

@media (max-width: 420px){
  .corporate_below{
    margin-bottom: 120px;
  }

}
@media (max-width: 344px){
  .corporate_below{
    margin-bottom: 180px;
  }
}
@media (max-width: 320px){
  .corporate_below{
    margin-bottom: 220px;
  }
}
@media (max-width: 282px){
  .corporate_below{
    margin-bottom: 300px;
  }
}
@media (max-width: 258px){
  .corporate_below{
    margin-bottom: 400px;
  }
}
@media (max-width: 234px){
  .corporate_below{
    margin-bottom: 500px;
  }
}

@media (max-width: 446px){
  .image-overlay p{
    font-size: 10px;
  }
}